/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define NAV_L 1
#define OTHER_L 2
#define NUM_L 3
#define SYM_L 4

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace

&lt { quick_tap_ms = <200>; };

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        left_bkt {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <2 3>;
        };

        right_bkt {
            bindings = <&kp RBKT>;
            key-positions = <7 6>;
        };

        left_par {
            bindings = <&kp LPAR>;
            key-positions = <13 12>;
        };

        right_par {
            bindings = <&kp RPAR>;
            key-positions = <16 17>;
        };

        left_brc {
            bindings = <&kp LBRC>;
            key-positions = <22 23>;
        };

        right_brc {
            bindings = <&kp RBRC>;
            key-positions = <26 27>;
        };

        blsh {
            bindings = <&kp BSLH>;
            key-positions = <4 5>;
        };

        pipe {
            bindings = <&kp PIPE>;
            key-positions = <14 15>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q  &kp W  &kp E  &kp R             &kp T        &kp Y        &kp U          &kp I  &kp O          &kp P
&kp A  &kp S  &kp D  &kp F             &kp G        &kp H        &kp J          &kp K  &kp L          &kp SEMICOLON
&kp Z  &kp X  &kp C  &kp V             &kp B        &kp B        &kp N          &kp M  &hm DOT COMMA  &kp SLASH
                     &kp LEFT_CONTROL  &kp SPACE    &lt 2 SPACE  &kp BACKSPACE
            >;
        };

        nav_layer {
            bindings = <
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3    &kp NUMBER_4  &kp N5    &kp NUMBER_6      &kp N7     &kp N8   &kp N9      &kp N0
&kp DEL       &trans        &kp UP_ARROW    &trans        &trans    &trans            &trans     &kp SQT  &kp MINUS   &kp EQUAL
&trans        &kp LEFT      &kp DOWN_ARROW  &kp RIGHT     &trans    &trans            &trans     &trans   &kp PERIOD  &trans
                                            &trans        &trans    &kp C_PLAY_PAUSE  &kp ENTER
            >;
        };

        other_layer {
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5    &kp F6  &kp F7      &kp F8        &kp F9      &kp F10
&trans  &trans  &trans  &trans  &trans    &trans  &trans      &kp C_VOL_UP  &kp F11     &kp F12
&trans  &trans  &trans  &trans  &trans    &trans  &kp C_PREV  &kp C_VOL_DN  &kp C_NEXT  &trans
                        &trans  &trans    &trans  &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };
    };
};
