/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define NAV_L 1
#define OTHER_L 2
#define NUM_L 3
#define SYM_L 4

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace

&lt { quick_tap_ms = <200>; };

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q  &kp W  &kp E  &kp R             &kp T        &kp Y        &kp U            &kp I  &kp O       &kp P
&kp A  &kp S  &kp D  &kp F             &kp G        &kp H        &kp J            &kp K  &kp L       &kp CAPSLOCK
&kp Z  &kp X  &kp C  &kp V             &kp B        &kp B        &kp N            &kp M  &kp RSHIFT  &kp ESC
                     &kp LEFT_CONTROL  &kp SPACE    &lt 1 ENTER  &lt 2 BACKSPACE
            >;
        };

        nav_layer {
            bindings = <
&kp ESC     &kp TILDE     &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9    &kp F1          &kp F2           &kp F3  &kp F4  &kp F5
&kp TAB     &kp CAPSLOCK  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6    &kp F6          &kp F7           &kp F8  &kp F9  &kp F10
&kp LSHIFT  &kp LWIN      &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3    &kp F11         &kp F12          &trans  &trans  &kp BACKSPACE
                                        &kp NUMBER_0  &kp PERIOD      &kp LEFT_ARROW  &kp RIGHT_ARROW
            >;
        };

        other_layer {
            bindings = <
&kp MINUS         &kp EQUAL          &trans         &trans      &trans       &kp PRINTSCREEN  &kp K_LOCK  &kp C_PAUSE  &kp F9      &kp F10
&kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BACKSLASH  &trans      &trans       &kp INS          &kp HOME    &kp PG_UP    &kp F11     &kp F12
&kp SEMICOLON     &kp SINGLE_QUOTE   &kp COMMA      &kp PERIOD  &kp SLASH    &kp DEL          &kp END     &kp PG_DN    &kp C_NEXT  &trans
                                                    &kp COMMA   &trans       &trans           &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };
    };
};
